# 컬럼명 영문명을 한글명으로 변환

### 샘플trfcard(0)폴더에 있는 파일ㅇ르 기준으로 우선 변환해보세요

In [1]:
import pandas as pd

In [9]:
file_path =("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard.csv")
df_bus_card_org = pd.read_csv(file_path)

In [11]:
#데이터 형태 확인 및 결측치 확인하기
df_bus_card_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   on_date      4983 non-null   int64
 1   off_date     4983 non-null   int64
 2   route_name   4983 non-null   object
 3   descr        4983 non-null   object
 4   age_type     4983 non-null   object
 5   trans_yn     4983 non-null   object
 6   addfee_yn    4983 non-null   object
 7   start_bstop  4983 non-null   object
 8   start_gps_x  4983 non-null   float64
 9   start_gps_y  4983 non-null   float64
 10  end_bstop    4983 non-null   object
 11  end_gps_x    4983 non-null   float64
 12  end_gps_y    4983 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 506.2+ KB

# 컬럼명 한글명으로 변환

##### 1. 영문명과 한글명이 있는 메타정의서 조회
##### 2. 딕셔너리로 가져오기
##### 3. rename(딕셔너리 넣기) : 컬럼명 변경시에 딕셔너리 형태로 넣어야 사용 가능

In [17]:
# 메타 정의서 조회/ 영문명과 한글명이 있는 컬럼만 조회

df_bus_card_col_org = pd.read_excel("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard_columns.xlsx"
                                   , header = 2
                                   , usecols = "B:C")
df_bus_card_col_org

       컬럼명 (영문)     컬럼명 (한글)
0       on_date         승차시각
1      off_date         하차시각
2    route_name          노선명
3         descr         노선설명
4      age_type         승객연령
5      trans_yn         환승여부
6     addfee_yn       추가운임여부
7   start_bstop        승차정류장
8   start_gps_x  승차정류장 GPS X
9   start_gps_y  승차정류장 GPS Y
10    end_bstop        하차정류장
11    end_gps_x  하차정류장 GPS X
12    end_gps_y  하차정류장 GPS Y

In [23]:
#딕셔너리로 변환 작업 1: .to_dict("recrods")  - 리스트형태의 딕셔너리
df_bus_card_col_org_dict = df_bus_card_col_org.to_dict("records")
#records: 데이터 프레임의 리스트 행 의미 -> 각 행들을 딕셔너리로 전환할 것

In [31]:
#딕셔너리로 변환작업2 - 완전한 딕셔너리 만들기
#key와 value를 직접 만들기

#깨끗한 삽입용 데이터 베이스 생성
df_bus_card_new_dict = {}

#for 문
for i in range(0, len(df_bus_card_col_org_dict)) :
    df_bus_card_new_dict[df_bus_card_col_org_dict[i]["컬럼명 (영문)"]]= df_bus_card_col_org_dict[i]["컬럼명 (한글)"]
    #df_bus_card_new_dict["key"] = "value"
    #df_bus_card_new_dict["key2"] = "value2"
    #{key : value, key2 : value2}

In [28]:
#컬럼명 변경
df_bus_card_kor=df_bus_card_org.rename(columns = df_bus_card_new_dict)

# 분석 주제 정하기 : 분석요소(컬럼) 확인

In [ ]:
# [버스 이용량 분석]
# 기준일 및 기준일별 버스 이용량 분석 비교
# 기준일 및 시간대별 번스 이용량 분석 비교
# 기준 시간 및 시간(분)별 버스 이용량 분석 비교

# [버스 내 체류 시간]
# [승차정류장별 버스내 체류시간]

In [30]:
df_bus_card_kor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   승차시각         4983 non-null   int64
 1   하차시각         4983 non-null   int64
 2   노선명          4983 non-null   object
 3   노선설명         4983 non-null   object
 4   승객연령         4983 non-null   object
 5   환승여부         4983 non-null   object
 6   추가운임여부       4983 non-null   object
 7   승차정류장        4983 non-null   object
 8   승차정류장 GPS X  4983 non-null   float64
 9   승차정류장 GPS Y  4983 non-null   float64
 10  하차정류장        4983 non-null   object
 11  하차정류장 GPS X  4983 non-null   float64
 12  하차정류장 GPS Y  4983 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 506.2+ KB

In [34]:
# 승차시각 및 하차시각에 대해서 월/일/시간/분을 추출 하기 위해
#문자타입으로 변경

df_bus_card_kor= df_bus_card_kor.astype({"승차시각": "str"})
df_bus_card_kor= df_bus_card_kor.astype({"하차시각": "str"})

In [35]:
df_bus_card_kor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   승차시각         4983 non-null   object
 1   하차시각         4983 non-null   object
 2   노선명          4983 non-null   object
 3   노선설명         4983 non-null   object
 4   승객연령         4983 non-null   object
 5   환승여부         4983 non-null   object
 6   추가운임여부       4983 non-null   object
 7   승차정류장        4983 non-null   object
 8   승차정류장 GPS X  4983 non-null   float64
 9   승차정류장 GPS Y  4983 non-null   float64
 10  하차정류장        4983 non-null   object
 11  하차정류장 GPS X  4983 non-null   float64
 12  하차정류장 GPS Y  4983 non-null   float64
dtypes: float64(4), object(9)
memory usage: 506.2+ KB

In [38]:
#분석요소(컬럼)을 추출하여 저장할 데이터 프레임생성
df_bus_card = pd.DataFrame()

df_bus_card["승차시각"] = pd.to_datetime(df_bus_card_kor["승차시각"])
df_bus_card["하차시각"] = pd.to_datetime(df_bus_card_kor["하차시각"])
df_bus_card["승객구분"] = df_bus_card_kor["승객연령"]
df_bus_card["환승여부"] = df_bus_card_kor["환승여부"]
df_bus_card["추가운임여부"] = df_bus_card_kor["추가운임여부"]
df_bus_card["승차정류장"] = df_bus_card_kor["승차정류장"]
df_bus_card["하차정류장"] = df_bus_card_kor["하차정류장"]

In [40]:
df_bus_card

,승차시각,하차시각,승객구분,환승여부,추가운임여부,승차정류장,하차정류장
0,2020-03-27 05:14:12,2020-03-27 05:17:14,일반,N,N,문덕사거리,성우오토모티브
1,2020-03-27 05:15:14,2020-03-27 05:49:56,일반,N,N,준양주택3차,오거리
2,2020-03-27 05:23:43,2020-03-27 05:46:59,일반,N,N,두호동주민센터,남구보건소
3,2020-03-27 05:24:49,2020-03-27 05:54:12,일반,N,N,천마아파트,홈플러스
4,2020-03-27 05:28:48,2020-03-27 05:52:31,일반,N,N,오천농협세계지점,죽도시장
...,...,...,...,...,...,...,...
4978,2020-03-27 23:25:13,2020-03-27 23:28:00,일반,Y,N,포은중앙도서관,롯데아파트
4979,2020-03-27 23:27:40,2020-03-27 23:33:19,일반,N,N,KTX포항역(시내행),우현경로당
4980,2020-03-27 23:28:29,2020-03-27 23:34:46,일반,N,N,시외버스터미널,연일파출소
4981,2020-03-27 23:33:28,2020-03-27 23:34:42,일반,N,N,우현경로당,도심환승센터
4982,2020-03-27 23:36:22,2020-03-27 23:40:14,일반,N,N,포은중앙도서관,두호남부초등학교

In [41]:
#버스내 체류간(분) 계산 컬럼 만들기
#버스내 체류시간(분) = 하차시각(분) -  승차시각(분)
df_bus_card["버스내체류시각(분)"] = \
            pd.to_datetime(df_bus_card["하차시각"]).dt.minute - \
            pd.to_datetime(df_bus_card["승차시각"]).dt.minute

#양식이 date라서 다음과 같이 해도 가능
#df_bus_card["하차시각"].dt.minute - \
            df_bus_card["승차시각"].dt.minute

In [45]:
df_bus_card

,승차시각,하차시각,승객구분,환승여부,추가운임여부,승차정류장,하차정류장,버스내체류시각(분)
0,2020-03-27 05:14:12,2020-03-27 05:17:14,일반,N,N,문덕사거리,성우오토모티브,3
1,2020-03-27 05:15:14,2020-03-27 05:49:56,일반,N,N,준양주택3차,오거리,34
2,2020-03-27 05:23:43,2020-03-27 05:46:59,일반,N,N,두호동주민센터,남구보건소,23
3,2020-03-27 05:24:49,2020-03-27 05:54:12,일반,N,N,천마아파트,홈플러스,30
4,2020-03-27 05:28:48,2020-03-27 05:52:31,일반,N,N,오천농협세계지점,죽도시장,24
...,...,...,...,...,...,...,...,...
4978,2020-03-27 23:25:13,2020-03-27 23:28:00,일반,Y,N,포은중앙도서관,롯데아파트,3
4979,2020-03-27 23:27:40,2020-03-27 23:33:19,일반,N,N,KTX포항역(시내행),우현경로당,6
4980,2020-03-27 23:28:29,2020-03-27 23:34:46,일반,N,N,시외버스터미널,연일파출소,6
4981,2020-03-27 23:33:28,2020-03-27 23:34:42,일반,N,N,우현경로당,도심환승센터,1
4982,2020-03-27 23:36:22,2020-03-27 23:40:14,일반,N,N,포은중앙도서관,두호남부초등학교,4

In [46]:
#기초통계 확인
df_bus_card.describe()
#- 발생. 보정필요

        버스내체류시각(분)
count  4983.000000
mean      0.147702
std      24.124315
min     -59.000000
25%      -5.000000
50%       8.000000
75%      15.000000
max      52.000000

In [56]:
#-인 값 조회
df_bus_card[df_bus_card["버스내체류시각(분)"]<0]

,승차시각,하차시각,승객구분,환승여부,추가운임여부,승차정류장,하차정류장,버스내체류시각(분)
18,2020-03-27 05:40:19,2020-03-27 06:26:08,일반,N,N,청하환승센터,교보생명,-14
24,2020-03-27 05:46:10,2020-03-27 06:07:06,일반,N,N,포항테크노파크,죽도시장,-39
28,2020-03-27 05:48:50,2020-03-27 06:04:20,일반,N,N,동부초등학교,현대제철,-44
30,2020-03-27 05:51:09,2020-03-27 06:05:13,일반,N,N,연일전통시장,홈플러스,-46
31,2020-03-27 05:51:16,2020-03-27 06:00:00,일반,N,N,대송교회,단지주유소,-51
...,...,...,...,...,...,...,...,...
4952,2020-03-27 22:55:17,2020-03-27 23:01:27,일반,N,N,죽도시장,교보생명,-54
4953,2020-03-27 22:55:50,2020-03-27 23:08:54,일반,N,N,시외버스터미널,창포사거리,-47
4954,2020-03-27 22:57:25,2020-03-27 23:02:11,일반,N,N,럭키아파트,장성초등학교,-55
4955,2020-03-27 22:57:58,2020-03-27 23:02:59,일반,N,N,장성럭키2차,두호초등학교,-55
4956,2020-03-27 22:59:05,2020-03-27 23:17:10,일반,N,N,시외버스터미널,안강우체국,-42

In [62]:
#60 - (원래시간 * -1)
df_bus_card.loc[df_bus_card["버스내체류시각(분)"] < 0 , "버스내체류시각(분)"]= \
                60-(df_bus_card["버스내체류시각(분)"] * -1)

In [67]:
#-인 값 조회
df_bus_card[df_bus_card["버스내체류시각(분)"]<0]

df_bus_card.describe()

        버스내체류시각(분)
count  4983.000000
mean     15.283163
std      10.387528
min       0.000000
25%       7.000000
50%      13.000000
75%      21.000000
max      59.000000

In [68]:
#기준년도 데이터 추출하여 컬럼 새로 만들기
df_bus_card["기준년도"] = df_bus_card["승차시각"].dt.year

In [71]:
df_bus_card["기준월"] = df_bus_card["승차시각"].dt.month
df_bus_card["기준일"] = df_bus_card["승차시각"].dt.day
df_bus_card["기준시간"] = df_bus_card["승차시각"].dt.hour
df_bus_card["기준분"] = df_bus_card["승차시각"].dt.minute
df_bus_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   승차시각        4983 non-null   datetime64[ns]
 1   하차시각        4983 non-null   datetime64[ns]
 2   승객구분        4983 non-null   object
 3   환승여부        4983 non-null   object
 4   추가운임여부      4983 non-null   object
 5   승차정류장       4983 non-null   object
 6   하차정류장       4983 non-null   object
 7   버스내체류시각(분)  4983 non-null   int64
 8   기준년도        4983 non-null   int64
 9   기준월         4983 non-null   int64
 10  기준일         4983 non-null   int64
 11  기준시간        4983 non-null   int64
 12  기준분         4983 non-null   int64
dtypes: datetime64[ns](2), int64(6), object(5)
memory usage: 506.2+ KB

---

# 모든 데이터셋 통합하기

In [73]:
from datetime import datetime

In [101]:
#실행시간 체크하기 => 시작시간
start_date = datetime.today().strftime("%y-%m-%d-%H:%M:%S")

#여기에 통합할 프로그램 작성
df_bus_card_tot = pd.DataFrame()

for i in range(0, 100, 1) :
    # 1. csv, excel 파일 불러오기
    file_path1 = ("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard ({})/trfcard.csv").format(i)
    file_path2 = ("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard ({})/trfcard_columns.xlsx").format(i)
                                
    df_bus_card_org     = pd.read_csv(file_path1)
    df_bus_card_col_org = pd.read_excel(file_path2,  header = 2, usecols = "B:C")
    
    # 2. 파일명 한글명 바꾸기
    df_bus_card_col_dict = df_bus_card_col_org.to_dict("records")
    
    df_bus_card_col_new_dict = {}
    for i in range(0, len(df_bus_card_col_dict), 1) :
        df_bus_card_col_new_dict[df_bus_card_col_dict[i]["컬럼명 (영문)"]] = \
                                df_bus_card_col_dict[i]["컬럼명 (한글)"]
         
        df_bus_card_kor = df_bus_card_org.rename(columns = df_bus_card_col_new_dict)
    # 3. 분석요소 추출 및 추가하기
    df_bus_card_kor = df_bus_card_kor.astype({"승차시각" : "str"} )
    df_bus_card_kor = df_bus_card_kor.astype({"하차시각" : "str"} )
    
    df_bus_card = pd.DataFrame()
    
    df_bus_card["승차시각"]     = pd.to_datetime(df_bus_card_kor["승차시각"])
    df_bus_card["하차시각"]     = pd.to_datetime(df_bus_card_kor["하차시각"])
    df_bus_card["승객구분"]     = df_bus_card_kor["승객연령"]
    df_bus_card["환승여부"]     = df_bus_card_kor["환승여부"]
    df_bus_card["추가운임여부"] = df_bus_card_kor["추가운임여부"]
    df_bus_card["승차정류장"]   = df_bus_card_kor["승차정류장"]
    df_bus_card["하차정류장"]   = df_bus_card_kor["하차정류장"]
    
    df_bus_card["버스체류시간(분)"] = \
                df_bus_card["하차시각"].dt.minute - \
                df_bus_card["승차시각"].dt.minute
    df_bus_card.loc[(df_bus_card["버스체류시간(분)"]<0),"버스체류시간(분)"] =\
                    60- (df_bus_card["버스체류시간(분)"] * -1)
    
    df_bus_card["기준월"] = df_bus_card["승차시각"].dt.month
    df_bus_card["기준일"] = df_bus_card["승차시각"].dt.day
    df_bus_card["기준시간"] = df_bus_card["승차시각"].dt.hour
    df_bus_card["기준분"] = df_bus_card["승차시각"].dt.minute
    
    # 4. 데이터 추가(병합) 하기
    df_bus_card_tot = df_bus_card_tot.append(df_bus_card, ignore_index = True)

end_date = datetime.today().strftime("%y-%m-%d-%H:%M:%S")
print("전체 실행 시간 : (", start_date, ") ~(", end_date,")")
print("전체 데이터 갯수 : ", len(df_bus_card_tot))
df_bus_card_tot.head()

전체 실행 시간 : ( 22-03-07-14:24:01 ) ~( 22-03-07-14:25:58 )
전체 데이터 갯수 :  1057872

,승차시각,하차시각,승객구분,환승여부,추가운임여부,승차정류장,하차정류장,버스체류시간(분),기준월,기준일,기준시간,기준분
0,2020-03-27 05:14:12,2020-03-27 05:17:14,일반,N,N,문덕사거리,성우오토모티브,3,3,27,5,14
1,2020-03-27 05:15:14,2020-03-27 05:49:56,일반,N,N,준양주택3차,오거리,34,3,27,5,15
2,2020-03-27 05:23:43,2020-03-27 05:46:59,일반,N,N,두호동주민센터,남구보건소,23,3,27,5,23
3,2020-03-27 05:24:49,2020-03-27 05:54:12,일반,N,N,천마아파트,홈플러스,30,3,27,5,24
4,2020-03-27 05:28:48,2020-03-27 05:52:31,일반,N,N,오천농협세계지점,죽도시장,24,3,27,5,28

In [102]:
#파일저장
df_bus_card_tot.to_csv("./02_data_통합본/df_bus_card_tot.csv", index=None)